.home-page {
  &__body {
    display: flex;
  }
  &__container {
    margin: 0 auto;
    max-width: 80%;
  }
  &__content {
    padding-top: 2rem;

    flex: 1;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }
  &__details {
    display: flex;
    margin: 0 4rem;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    height: 21rem;

    text-align: center;
    background-color: #efefef;
    @media screen and (max-width: 768px) {
      // width: auto !important;
      height: auto;
    }
    p {
      font-size: 1.6rem;
      padding: 0 4rem;
      margin: 0 auto;
      margin-top: 1rem;
      text-align: justify;
      @media screen and (max-width: 768px) {
        width: auto !important;
        height: auto;
      }
    }
  }
  &__blocks {
    display: flex;
    margin-top: 3rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    &__element {
      flex: 1;
      img {
        //
        color: #111;
        text-align: center;
        float: left;
        shape-outside: rectangle;
        padding: 10px;
        background-color: MediumPurple;
        background-clip: content-box;
      }
      p {
        font-size: 1.6rem;
        margin: 1rem;
      }
    }
  }
  &__coppyright {
    height: 8rem;
    border-top: 1px solid #333;
    line-height: 8rem;
    p {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}
